<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>textfild component's page</title>
    <script type="text/html" src="{require('../index.js')}"></script>
</head>
<body>
    <div class="component-conntainer">
        <div class="c-textfild">
            <label for="normal" class="c-textfild__label">
                مدخل عادي
            </label>
            <input type="text" class="c-textfild__label" placeholder="إدخال المحتوى" id="normal">
        </div>
        <div class="c-textfild">
            <label for="textarea" class="c-textfild__label">مدخل الفقرة</label>
            <textarea id="textarea" placeholder="إدخال المحتوى" class="textfild__textarea"></textarea>
            <span class="c-textfild__hint">ملاحظة من أجل المدخل</span>
        </div>
    </div>
</body>
</html>